@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

section {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.navmenu .dropdown ul .active {
    color: var(--accent-color);
}

.hero .hero-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.top-hero {
    padding-top: 120px !important;
}

.com-name {
    color: var(--accent-color);

    img {
        width: 30px;
        padding-right: 5px;
    }
}

#contactform {
    padding: 30px;
    background: #011522;
}

#contactform {
    border-radius: 15px;

    .contact-form-title {
        font-size: 42px;
        color: #fff;
        margin-bottom: 40px;
    }

    input {
        width: 100%;
        height: 60px;
        outline: 0;
        padding: 0 20px;
        color: #fff;
        border-radius: 5px;
        border: 1px solid #1E2A37;
        background: #131C25;
        color: #fff;
    }

    textarea {
        height: 140px;
        padding: 16px 15px 16px 18px;
        resize: none;
        color: #fff;
        border-radius: 5px;
        border: 1px solid #1E2A37;
        background: #131C25;
        color: #fff;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .form-submit button {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.5px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        padding: 12px 28px;
        border-radius: 50px;
        transition: 0.3s;
        margin: 10px 0;
    }

    input,
    textarea {
        &:focus {
            border-color: var(--accent-color);
        }

        &::placeholder {
            color: #7D858E;
        }
    }
}

.cs-header {
    font-size: 50px;
    font-weight: 600;
    word-break: break-word;
    margin-bottom: 30px;
    max-width: 70%;
}

@media only screen and (max-width: 768px) {
    .cs-header {
        font-size: 40px;
        max-width: 100%;
    }

    .cr {
        float: right;
    }
}

.cr {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    font: 300 1.55rem/1.4 "Josefin Sans";
    text-transform: uppercase;
    letter-spacing: 0.1175em;
    word-spacing: 0.3em;
    text-decoration: none;
}

.cr__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;
    fill: #2b3338;
    stroke: #2b3338;
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cr__cloud {
    transform-origin: 50% 50%;
    animation: rotate normal infinite 60s linear;
    fill: rgba(255, 255, 255, 0.15);
}

.cr__face,
.cr__arrow {
    transform-origin: 50% 50%;
    transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}

.cr:hover .cr__face,
.cr:hover .cr__arrow {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.cr__arrow {
    stroke-width: 0.075em;
}

.cr__text {
    animation: rotateReverse normal infinite 20s linear;
    transform-origin: 50% 50%;
}

.cr:hover .cr__text {
    animation-play-state: paused;
}

.cr--alt {
    font-size: 1.15rem;
    letter-spacing: 0;
    word-spacing: 0;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}

.leadership-carousel {
    width: 100%;
    padding: 50px 0;
}

/* Default slide state */
.leadership-carousel .swiper-slide {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
    transform: scale(0.8) translateY(20px);
    /* push inactive slides slightly down */
    z-index: 0;
}

/* Active slide in center */
.leadership-carousel .swiper-slide-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    z-index: 3;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.15);
}

/* Left + right slides just behind */
.leadership-carousel .swiper-slide-prev,
.leadership-carousel .swiper-slide-next {
    opacity: 0.8;
    transform: scale(0.9) translateY(10px);
    z-index: 2;
}

/* Each card */
.team-slide {
    background: #c5c5c5;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

/* Images */
.team-slide-el {
    position: relative;

    img {
        width: 100%;
        object-fit: cover;
    }

    .team-details {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 8px 0;
        width: 100%;
        background: #58a487d0;

        h5 {
            font-weight: 700;
            margin: 0 !important;
            padding: 0;
            color: #000;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            padding: 0;
            color: #000;
        }
    }
}

/* Text details inside card */
.detail {
    padding: 60px;
    border-radius: 20px;
    background-color: #011522;
    color: #fff;
    text-align: left;

    img {
        border-radius: 10px;
    }

    h2 {
        font-size: 50px;
        color: #fff;
    }

    h6 {
        font-weight: 500;
        font-size: 16px;
        margin: 20px 0 15px 0;
        color: var(--accent-color);
        text-transform: uppercase;
    }

    p {
        color: #BEBEBE;
        max-width: 617px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
    }

    table {
        margin: 20px 0;
    }

    .detail-flag {
        font-size: 15px;
        font-weight: 500;
        padding-right: 20px;
    }

    .detail-flag-info {
        color: #BEBEBE;
        font-size: 14px;

        a {
            color: #BEBEBE;
        }
    }

    .social-links {
        margin-top: 20px;
    }

    .social-links a {
        font-size: 18px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        color: #aaa;
        border: 1px solid #D9E2DF;
        border-radius: 50%;
        padding: 5px;
        margin-right: 12px;
        transition: 0.1s ease-in-out;
    }

    .social-links a:hover {
        border: 1px solid var(--accent-color);
    }
}

.exp-heading {
    font-size: 20px;
    font-weight: 700;
}

.exp-para {
    font-size: 15px;
    color: #666666;
    font-weight: normal;
}

.team-highlight {
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 30px 40px;
    margin-bottom: 20px;

    .team-item {
        text-align: center;
        color: var(--contrast-color);
    }

    .team-number {
        font-size: 32px;
        font-weight: 900;
        color: var(--contrast-color);
    }

    .team-label {
        font-size: 14px;
        font-weight: 500;
        opacity: 0.9;
    }
}

.progress-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 35px 60px;

    .progress-container {
        position: relative;
        overflow: hidden;
        color: #10171E;

        .progress-top {
            display: flex;
            justify-content: space-between;

            h6 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            span {
                font-size: 16px;
                font-weight: 700;
            }
        }

        .progress {
            background: #d0d0d0;
            height: 8px;

            .progress-bar {
                background: var(--accent-color);
            }
        }
    }
}

.quote-primary {
    color: var(--accent-color);
    font-size: 26px;
}

.max-text {
    max-width: 800px;
}

.apple-window {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #011522;

    .apple-window-navigation {
        display: inline-block;
        align-items: center;
        width: 10px;
        height: 10px;
        padding: 1px;
        border-radius: 50%;
    }

    .awn-red {
        background-color: #ff605c;
    }

    .awn-yellow {
        background-color: #ffbd44;
    }

    .awn-green {
        background-color: #00ca4e;
    }
}

.apch-window {
    border-radius: 20px;

    .win-body {
        border-radius: 20px;
        background-color: var(--accent-color);
        color: #fff;
    }
}

.aprch-block-wrapper {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 40px 0px;
    background: #fff;
    border-radius: 4px;
    padding: 25px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-bottom: 5px solid var(--accent-color);

    .aprch-block-num {
        font-size: 46px;
        color: var(--accent-color);
        font-weight: 700;
        line-height: 1;
        margin-bottom: 20px;
        display: inline-block;
    }

    .aprch-block-heading {
        font-size: 20px;
        color: var(--rs-title-secondary);
        margin-bottom: 10px;
    }

    .aprch-block-para {
        font-size: 14px;
        font-weight: normal;
        color: #666666;
    }
}

.phil-item {
    display: flex;
    /* Make the container a flexbox */
}

.phil-item span:first-child {
    font-weight: 500;
    flex-shrink: 0;
    width: 100px;
}

.top-m {
    margin-top: 3rem;
}

.text-slide-wrapper {
    background-color: var(--accent-color);

    .text-slide-row {
        padding: 25px 0;
    }
}

.text-slide {
    width: fit-content !important;
}

.text-slide-item {
    display: inline-flex;
    align-items: center;
    gap: 0px 80px;
}

.text-slide-title {
    font-size: 22px;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
}

.text-slide-thumb img {
    width: 30px;
}

/* services-items */


.services-items-inner {
    display: flex;
    align-items: start;
    gap: 5px;
    position: relative;
    /* max-width: 300px; */
    width: auto;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #cbc9c9;
}

.services-items-inner img {
    width: 50px;
}

.services-items-inner p {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.services-items-inner ul {
    margin: 0;
    padding: 0;
}

.services-items-inner ul li {
    color: #000;
    list-style-type: none;
    font-size: 17px;
}

.services-items-inner ul li i {
    margin-right: 10px;
    font-size: 22px;
    color: var(--accent-color);
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.services-items-inner:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--accent-color);
    height: 40px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.services-items-inner:hover:before {
    transform: scale(21);
}

.services-items-inner:hover ul li,
.services-items-inner:hover p,
.services-items-inner:hover i {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.services-items-inner:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;
}

.services-card {
    position: relative;
    width: 350px;
    height: 250px;
    background-image: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    border-radius: 10px;
    display: flex;
    padding: 10px 30px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-swiper img {
    height: 100px;
    border-radius: 50%;
}

.rs-about-three {
    position: relative;
    z-index: 1
}

@media only screen and (max-width:1366px) {
    .rs-about-three .about-thumb {
        position: sticky;
        top: 110px
    }
}

@media only screen and (max-width:991px) {
    .rs-about-three .about-thumb {
        position: relative;
        top: unset
    }
}

.rs-about-three .about-thumb img {
    width: 100%
}

.rs-about-three .about-wrapper {
    display: grid;
    grid-template-columns: 545px auto;
    gap: 30px 85px;
    align-items: center
}

@media only screen and (max-width:1600px) {
    .rs-about-three .about-wrapper {
        grid-template-columns: 470px auto;
        gap: 30px 30px;
        align-items: start
    }
}

@media only screen and (max-width:1199px) {
    .rs-about-three .about-wrapper {
        grid-template-columns: 430px auto
    }
}

@media only screen and (max-width:991px) {
    .rs-about-three .about-wrapper {
        grid-template-columns: auto
    }
}

.rs-about-three .section-description {
    margin-top: 20px;
    margin-bottom: 23px
}

.rs-about-six .about-thumb {
    max-width: 480px;
    overflow: hidden
}

@media only screen and (max-width:1600px) {
    .rs-about-six .about-thumb {
        position: sticky;
        top: 110px
    }
}

@media only screen and (max-width:991px) {
    .rs-about-six .about-thumb {
        position: relative;
        top: unset;
        max-width: 100%
    }
}

.rs-about-six .about-thumb img {
    width: 100%;
    border-radius: 20px;
    transition: unset
}

.rs-about-six .section-title-wrapper {
    display: flex;
    gap: 30px 65px
}

@media only screen and (max-width:991px) {
    .rs-about-six .section-title-wrapper {
        gap: 30px 30px
    }
}

@media only screen and (max-width:767px) {
    .rs-about-six .section-title-wrapper {
        flex-wrap: wrap;
        gap: 20px 30px
    }
}

.rs-about-six .divider-line {
    width: 190px;
    background: #7df31d;
    height: 2px;
    position: relative;
    display: inline-block;
    min-width: 190px;
    margin-top: 25px
}

@media only screen and (max-width:767px) {
    .rs-about-six .divider-line {
        margin-top: 0
    }
}

.rs-about-six .about-description {
    margin-bottom: 40px
}

.rs-about-six .about-content-wrapper {
    margin-inline-end: 10px
}

@media only screen and (max-width:991px) {
    .rs-about-six .about-content-wrapper {
        margin-inline-end: 0
    }
}

.rs-accordion-three .accordion-button {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    padding: 0 50px 0 0
}

.rs-accordion-three .accordion-button .accordion-title {
    font-size: 28px;
    font-weight: 700;
    background-color: transparent;
    padding-right: 50px;
    color: #000;
    padding: 0;
    background-image: linear-gradient(to bottom, var(--accent-color) 0, var(--accent-color) 100%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0 2px;
    transition: all .3s, background-size .5s;
    display: inline-flex
}

@media only screen and (max-width:1600px) {
    .rs-accordion-three .accordion-button .accordion-title {
        font-size: 24px
    }
}

@media only screen and (max-width:767px) {
    .rs-accordion-three .accordion-button .accordion-title {
        font-size: 22px
    }
}

@media only screen and (max-width:575px) {
    .rs-accordion-three .accordion-button .accordion-title {
        font-size: 20px
    }
}

.rs-accordion-three .accordion-button::after {
    content: none
}

.rs-accordion-three .accordion-button:not(.collapsed) {
    box-shadow: none
}

.rs-accordion-three .accordion-button:not(.collapsed) .accordion-title {
    background-size: 100% 2px
}

.rs-accordion-three .accordion-button:not(.collapsed) .accordion-icon {
    background: #5fddad;
    border-color: #5fddad
}

.rs-accordion-three .accordion-button:not(.collapsed) .accordion-icon svg {
    transform: rotate(90deg)
}

.rs-accordion-three .accordion-icon {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    transition: all .4s ease-out 0s;
    background: rgb(52 134 89 / 22%)
}

.rs-accordion-three .accordion-icon svg {
    width: 16px
}

.rs-accordion-three .accordion-icon svg path {
    fill: var(--rs-theme-secondary);
    transition: all .4s ease-out 0s
}

.rs-accordion-three .accordion-item {
    padding: 22px 0 22px 0;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    position: relative
}

.rs-accordion-three .accordion-item:first-child {
    border-top: 1px solid #ebebeb
}

.rs-accordion-three .accordion-body {
    color: var(--rs-text-primary);
    padding: 20px 50px 0 0;
    line-height: 28px
}

@media only screen and (max-width:767px) {
    .rs-accordion-three .accordion-body {
        padding: 20px 0 0 0
    }
}

.acard {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.acard-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.acard:hover .acard-inner {
    transform: rotateY(180deg);
}

.acard-front,
.acard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.acard-front {
    background-color: #6A2C70;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #6A2C70;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.acard-back {
    background-color: #F08A5D;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #F08A5D;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

.testimonials .testimonial-item .about-quote-icon-left {
    color: color-mix(in srgb, var(--accent-color), transparent 40%);
    font-size: 40px;
}

.testimonial-item.about-tes-item {
    text-align: left !important;
}

.testimonial-thumb img {
    width: 100%;
    border-radius: 10px;
    transition: unset;
}

.about-slider-text {
    font-size: 50px;
    font-weight: 600;
}

.testimonials .testimonial-item p {
    margin: 0 0 15px 0;
    padding: 20px 0;
    margin-bottom: 35px;
}

.testimonials .testimonial-item span {
    font-size: 18px;
}

.testimonials .about-tes-item .testimonial-img {
    margin: 0 10px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    background: #10171E;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    transition: all 0.3s 0s ease-out;
    cursor: pointer;
    background-image: none !important;
    text-align: center;
}

.swiper-button-next::after {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    content: "\f060";
    color: var(--accent-color);
    font-size: 18px;
}

.swiper-button-prev::after {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    content: "\f061";
    color: var(--accent-color);
    font-size: 18px;
}

.swiper {
    position: relative;
}

.icon-set {
    position: absolute;
    bottom: 10%;
    right: 15%;
}

.services-details-title {
    font-weight: 700;
    font-size: 40px;
}

.services-details-thumb-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin-bottom: 44px;
}

.services-details-thumb img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.services-details-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.services-details-left {
    max-width: 770px;
}

.rs-list-item ul {
    list-style-type: none;
    font-size: 18px;

    i {
        color: var(--accent-color);
    }
}

.work-process-top {
    display: grid;
    grid-template-columns: 630px auto;
    gap: 30px 40px;
    border-bottom: 2px solid #E7E7E8;
    padding-bottom: 55px;
    align-items: center;
}

.work-process-item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.work-process-item {
    background: var(--accent-color);
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.work-process-shape-one {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -60px;
}

.formheader {
    font-weight: 600;
}

.cstm.btn-outline {
    /* background-color: var(--accent-color); */
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 20px;
}

.cstm.btn-outline:hover {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    color: #fff;
    border-radius: 20px;
}

#getcareers {

    input,
    select {
        border-color: #011522;
    }

    option {
        border: 1px solid var(--accent-color);
    }

    input:focus,
    select:focus {
        box-shadow: none;
        border: 1px solid var(--accent-color);
    }

}

.job-card {
    border-bottom: none;
    border-left: none;
    border-right: none;

    .job-title {
        font-size: 24px;
        font-weight: 700;
        color: var(--accent-color);
    }

    .job-add {
        font-weight: 300;
        font-size: 16px;
    }

    .job-info {
        font-weight: 400;
        font-size: 16px;
        padding: 0;
        margin: 0;
    }

}

.apply-job form {

    input,
    select {
        border-color: #011522;
    }

    option {
        border: 1px solid var(--accent-color);
    }

    input:focus,
    select:focus {
        box-shadow: none;
        border: 1px solid var(--accent-color);
    }

    .form-submit button {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.5px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        padding: 12px 28px;
        border-radius: 50px;
        transition: 0.3s;
        margin: 10px 0;
    }
}

input[type="file"]::file-selector-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 16px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 9px 5px 9px 0;
}

.culture-highlights {
    i {
        color: var(--accent-color);
    }
}

.life-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.life-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background: var(--accent-color);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.life-content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #ced8ff;
    z-index: -1;
    transform-origin: bottom;

    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.life-.content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #e7ecff;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.life-content i {
    width: 48px;
    height: 48px;
    color: #fff;
}

.life-content .heading {
    z-index: 1;
    opacity: 1;
    font-size: 24px;
    color: #fff;
    margin: auto;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.life-content .para {
    z-index: 1;
    opacity: 1;
    font-size: 16px;
    margin-top: 5px;
    color: #dadada;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.life-card:hover {
    transform: translate(0px, -16px);
}

.life-card:hover .life-content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
}

.life-card:hover .life-content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
}

.contact-page-sec {
    font-size: 50px;
    font-weight: 600;
}

.contact-list-item {
    display: flex;
    align-items: center;
    gap: 15px;

    .contact-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background: var(--accent-color);
        border-radius: 15%;

        img {
            width: 25px;
        }
    }

    .contact-list-content {
        max-width: 50%;

        a {
            font-size: 17px;
            font-weight: 400;
        }
    }
}

.contact-list-item:not(:last-child) {
    margin-bottom: 10px;
}
.mt-100px{
    margin-top: 100px;
}
.rs-map-one {
    line-height: 0;
}

.rs-map-one .rs-google-map iframe {
    width: 100%;
    height: 570px;
    filter: brightness(75%) contrast(200%) saturate(0%) blur(0px) hue-rotate(0deg);
}

@media only screen and (max-width: 1600px) {
    .rs-map-one .rs-google-map iframe {
        height: 500px;
    }
}

@media only screen and (max-width: 1199px) {
    .rs-map-one .rs-google-map iframe {
        height: 450px;
    }
}

@media only screen and (max-width: 1199px) {
    .rs-map-one .rs-google-map iframe {
        height: 400px;
    }
}

@media only screen and (max-width: 991px) {
    .rs-map-one .rs-google-map iframe {
        height: 300px;
    }
}

@media only screen and (max-width: 575px) {
    .rs-map-one .rs-google-map iframe {
        height: 250px;
    }
}

@media only screen and (max-width: 991px) {
    .text-slide-item {
        gap: 0px 50px;
    }
}

@media only screen and (max-width: 600px) {
    .leadership-carousel {
        width: 100%;
        /* padding-top: 20px; */
        margin-bottom: 20px;
    }

    .detail {
        padding: 40px 30px;

        img {
            margin-bottom: 10px;
        }
    }

    .team-slide-el {
        .team-details {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 8px 0;
            width: 100%;
            background: #58a487d0;

            h5 {
                font-weight: 600;
                font-size: 16px;
            }

            p {
                font-size: 10px;
            }
        }
    }

    .icon-set {
        position: absolute;
        bottom: 40%;
        right: 15%;
        z-index: 999;
    }

    .team-highlight {
        flex-direction: column;
    }

    .progress-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
    }

    .mob-top-m {
        margin-top: 3rem;
    }

    .services-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-items-inner {
        flex-direction: column;
        width: 100%;
    }

    .services-details-title {
        font-weight: 600;
        font-size: 30px;
    }

    .services-details-thumb-wrapper {
        grid-template-columns: auto;
    }

    .services-details-wrapper {
        grid-template-columns: auto;
    }

    .contact-page-sec {
        font-size: 35px;
    }

    .contact-list-item {
        margin-bottom: 20px;
    }
}